<div mat-app-background>
  <md-toolbar color="primary">
  </md-toolbar>

  <md-card>
    <h1>LOPA</h1>
    <img src="assets/img/lopaLogo.svg" width="150px" class="user-avatar" />
    <h1>Welcome</h1>
    <div>
      <div *ngIf="currentUser">
        <p>You are logged into the LOPA APP</p>
        <p>
          <button md-raised-button color="primary" (click)="doHOme()">Enter</button>
          <button md-raised-button color="warning" (click)="doLogout()" >Logout</button>
          <button *ngIf="currentUser.admin"  md-raised-button color="accent" (click)="doAdmin()" >Administration</button>
        </p>
      </div>
      <div *ngIf="!currentUser">
        <p>Please login or register</p>
        <p>
          <button md-raised-button color="primary" (click)="doLogin()">Login</button>
          <button md-raised-button color="accent" (click)="doNewUser()">Register</button>
        </p>
      </div>
    </div>
  </md-card>

</div>