<div mat-app-background>
  <mat-toolbar color="primary">
  </mat-toolbar>

  <mat-card>
    <h1>LOPA</h1>
    <img src="assets/img/lopaLogo.svg" width="150px" class="user-avatar" />
    <h1>Welcome</h1>
    <div>
      <div *ngIf="currentUser">
        <p>You are logged into the LOPA APP</p>
        <p>
          <button mat-raised-button color="primary" (click)="doHome()">Enter</button>
          <button mat-raised-button color="warning" (click)="doLogout()">Logout</button>
          <a *ngIf="currentUser.admin" mat-raised-button color="accent" routerLink="/users">Administration</a>
        </p>
      </div>
      <div *ngIf="!currentUser">
        <p>Please login or register</p>
        <p>
          <button mat-raised-button color="primary" (click)="doLogin()">Login</button>
          <button mat-raised-button color="accent" (click)="doNewUser()">Register</button>
        </p>
      </div>
    </div>
  </mat-card>

</div>